<app-encabezado></app-encabezado>
<app-barra></app-barra>

<div class="toast-container">
  @for (toast of toasts; track toast.id) {
    <div class="toast">{{ toast.mensaje }}</div>
  }
</div>

@if (consola) {
  <div class="detalle-container">
    <h2>{{ consola?.nombreConsola }}</h2>
    <img
      [src]="
        'assets/images/consolas/' + getMarcaFolder(consola?.serieConsola) + '/' + consola?.imagen
      "
      alt="{{ consola?.nombreConsola }}"
    />
    <p><strong>Serie Consola:</strong> {{ consola?.serieConsola }}</p>
    <p><strong>Precio:</strong> ${{ consola?.precio }}</p>
    <button class="cart" (click)="agregarAlCarrito(consola); $event.stopPropagation()">
      Agregar al carrito
    </button>
  </div>
}

<app-pie></app-pie>
