.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #CF410C;
    padding: 1rem;
    z-index: 1000;
    margin-top: 105px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #08A3D4;
}

.navbar img {
    display: block;
}
