.detalle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* ya no lo centramos vertical */
  min-height: 100vh;
  padding-top: 270px; /* baja todo el bloque */
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.detalle-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #2a9d8f; /* verde bonito */
}

.detalle-container img {
  width: 250px;
  height: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.detalle-container p {
  font-size: 16px;
  margin: 8px 0;
}

.detalle-container button {
  margin-top: 20px;
  background: #cc370e;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.detalle-container button:hover {
  background: #d62828;
}

.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse; /* 👈 apila hacia arriba */
  gap: 10px;
  z-index: 1000;
}

.toast {
  background: #0b8523;
  color: #fff;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 3s ease forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
